$mainfont: "Poppins", sans-serif;
$bgcolor: rgb(25, 27, 50);
@mixin Foo($scale, $pt, $pr, $pl, $pb, $grid, $rightBottom) {
  .Footer {
    display: $scale;
    flex-direction: column;
    padding-left: $pl;
    padding-right: $pr;
    color: #7f8690;
    padding-top: $pt;
    font-family: $mainfont;
    padding-bottom: $pb;
    .topFoo {
      display: grid;
      grid-template-columns: $grid;
      gap: 1rem;
      padding-bottom: 2rem;
      border-bottom: 0.5px solid white;

      .left {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        justify-content: left;
        img {
          height: 80px;
          width: 80px;
          margin-bottom: 1rem;
        }

        p {
          font-size: 15px;
          letter-spacing: 1px;
          margin-bottom: 1rem;
        }

        .socLinks {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

          .linkContainer {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid #7f8690;
            display: flex;
            justify-content: center;
            align-items: center;
            .fab {
              font-size: 20px;
            }
          }
        }
      }

      .center {
        display: flex;
        flex-direction: column;
        padding-left: $pl;
        h1 {
          font-size: 20px;
          color: white;
          margin-bottom: 2rem;
        }
        .eLine {
          width: 3rem;
          height: 1px;
          background-color: #fff;
          margin-bottom: 2rem;
        }
        p {
          font-size: 15px;
          margin-bottom: 1rem;
          font-weight: 600;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        position: relative;
        img {
          position: absolute;
          top: 0;
          right: 0;
        }
        h1 {
          color: white;
          font-size: 20px;
          margin-bottom: 1.5rem;
        }
        .eLine {
          width: 3rem;
          height: 1px;
          background-color: #fff;
          margin-bottom: 2rem;
        }
        .container {
          div {
            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;
            i {
              margin-right: 1rem;
              font-size: 22px;
            }

            .items {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .bottomFoo {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      font-size: 16px;
      .leftBottom {
        grid-column: 1/4;
        display: flex;
        flex-direction: column;
      }
      .rightBottom {
        grid-column: 4/5;
        display: $rightBottom;
        flex-direction: row;
        text-align: center;
        align-items: center;
        p {
          font-weight: 600;
          margin-right: 10px;
        }

        .arrowup {
          cursor: pointer;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #262943;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  @include Foo(
    $scale: column,
    $pt: 1rem,
    $pr: 1rem,
    $pl: 1rem,
    $pb: 1rem,
    $grid: 1fr,
    $rightBottom: none
  );
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  @include Foo(
    $scale: column,
    $pt: 1rem,
    $pr: 1rem,
    $pl: 1rem,
    $pb: 1rem,
    $grid: 1fr,
    $rightBottom: none
  );
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  @include Foo(
    $scale: column,
    $pt: 1rem,
    $pr: 1rem,
    $pl: 1rem,
    $pb: 1rem,
    $grid: 1fr,
    $rightBottom: flex
  );
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  @include Foo(
    $scale: flex,
    $pt: 5rem,
    $pr: 10rem,
    $pl: 10rem,
    $pb: 10rem,
    $grid: 1fr 1fr 1fr,
    $rightBottom: flex
  );
}

@media (min-width: 1200px) and (max-width: 4000px) {
  @include Foo(
    $scale: flex,
    $pt: 5rem,
    $pr: 10rem,
    $pl: 10rem,
    $pb: 10rem,
    $grid: 1fr 1fr 1fr,
    $rightBottom: flex
  );
}
