.CardS6 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover > .empty {
    width: 0%;
  }
  #imgCardS6 {
    height: 100%;
    width: 100%;
  }
  .empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 2, 3, 0.5);
    transition: width 0.3s ease-in-out;
  }
  .CardS6Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1 {
      font-weight: 400;
    }
    .cardBtnS6 {
    }
  }
}
