$mainfont: "Poppins", sans-serif;
$bgcolor: rgb(25, 27, 50);
$liquidColor: rgb(85, 86, 110);

@mixin Section2(
  $flexDs2,
  $p1,
  $p2,
  $pd-r-s2,
  $pd-l-s2,
  $frame-col,
  $displayRight,
  $height,
  $mb-s2,
  $imgW,
  $imgH
) {
  .Section2 {
    display: grid;
    grid-template-columns: 1fr $frame-col;
    height: $height;
    font-family: $mainfont;
    color: white;

    // padding-top: 5rem;
    // padding-bottom: 5rem;
    padding-left: $pd-l-s2;

    .leftSection2 {
      display: flex;
      flex-direction: column;
      background-color: $bgcolor;
      padding-top: 3rem;

      .leftTop {
        display: flex;
        flex-direction: $flexDs2;
        padding-right: $pd-r-s2;

        p {
          flex: 80%;
          font-size: $p1;
          font-weight: 600;
          padding-bottom: $mb-s2;
        }

        img {
          flex: 20%;
          height: imgH;
          width: imgW;
        }
      }

      .leftBody {
        padding-bottom: 3rem;
        p {
          font-size: $p2;
        }
      }

      .leftFooter {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: left;
        align-items: center;
        height: 3.5rem;
        font-size: 18px;

        &:hover > .bgLiquid {
          width: 13rem;
        }

        width: 12rem;
        position: relative;
        cursor: pointer;
        padding-left: 1rem;

        .findOutBtn {
          z-index: 6;
          font-weight: 600;
          &:hover > .bgLiquid {
            width: 10rem;
          }
        }
        .fas {
          z-index: 5;
          &:hover + .bgLiquid {
            width: 12rem;
          }
        }
        .bgLiquid {
          background-color: $liquidColor;
          height: 3.5rem;
          width: 3.7rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
          transition: width 0.5s ease-in-out;
        }
      }
    }

    .rightSection2 {
      display: $displayRight;
      flex-direction: column;
      position: relative;
      .pulse {
        height: 120px;
        width: 120px;
        background-color: lightblue;
        border: 2px solid lightblue;
        border-radius: 50%;
        position: absolute;
        top: 38%;
        right: 44.5%;

        animation: myPulse 1s infinite ease-in-out;

        @keyframes myPulse {
          from {
            transform: scale(1, 1);
            opacity: 0;
          }
          to {
            transform: scale(1.1, 1.1);
            opacity: 0.5;
          }
        }
      }

      .btnSection2 {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 50%;
        right: 40%;
        transform: translate(-60%, -50%);
        cursor: pointer;

        .outerCi {
          position: relative;
          height: 90px;
          width: 90px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;

          .innerCi {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            position: relative;

            p {
              z-index: 99;
              color: black;
            }
          }
        }
      }
      .rightFooter {
        position: absolute;
        display: $displayRight;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        bottom: 20%;
        left: 40%;
        height: 3.5rem;
        width: auto;
        background-color: $bgcolor;
        font-size: 22px;
        padding: 1rem;
        cursor: pointer;
        p {
          margin-left: 5px;
        }
      }

      img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  @include Section2(
    $flexDs2: row,
    $p1: 20px,
    $p2: 15px,
    $pd-r-s2: 0,
    $pd-l-s2: 1rem,
    $frame-col: 0,
    $displayRight: none,
    $height: 100vh,
    $mb-s2: 2rem,
    $imgH: 40px,
    $imgW: 40px
  );
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 4000px) {
  @include Section2(
    $flexDs2: row,
    $p1: 28px,
    $p2: 16px,
    $pd-r-s2: 10rem,
    $pd-l-s2: 10rem,
    $frame-col: 1fr,
    $displayRight: flex,
    $height: auto,
    $mb-s2: 0,
    $imgH: 100%,
    $imgW: 100%
  );
}
