$mainfont: "Poppins", sans-serif;
$bgcolor: rgb(25, 27, 50);

.Section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-family: $mainfont;
  color: white;
  background-color: red;

  .leftSection2 {
    display: flex;
    flex-direction: column;
    background-color: $bgcolor;

    .leftTop {
      display: flex;
      flex-direction: row;

      p {
        flex: 80%;
      }

      img {
        flex: 20%;
      }
    }
  }
}
