$mainfont: "Poppins", sans-serif;
$bgcolor: rgb(25, 27, 50);

.Section6 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 8rem;
  font-family: $mainfont;
  padding-left: 10rem;
  .topSection6 {
    display: flex;
    flex-direction: row;

    .left {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 42px;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 1rem;
      }

      .line {
        height: 1px;
        width: 3rem;
        background-color: white;
      }
    }
    .rightBtn {
      width: 100%;
      display: flex;
      flex-direction: row;

      justify-content: flex-end;
      padding-right: 10rem;
    }
  }
  .bodySection6 {
    display: flex;
    flex-direction: row;
  }
}
